@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Rozha+One&family=Yeseva+One&display=swap");

.container {
  margin-top: 0;
  padding-top: 0;
  background-color: #e4dedf;
}

.flexContainer {
  position: relative;
  background-color: #e4dedf;
  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

.heading {
  font-size: 1.3em;
  margin-top: 15vh;

  font-family: "Yeseva One", cursive;
  padding: 2vh 0 2.5vh 0;
  position: relative;
  text-align: center;
  z-index: 1;
}

.wave {
  position: relative;
  bottom: -1vh;
}
