
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;1,400&display=swap");

.container {
  margin-top: 0;
  padding-top: 0;
  background-color: #f4f3ef;
}

.flexContainer {
  position: relative;
  background-color: #f4f3ef;

  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.heading {

  font-size: 2em;
  margin: 10vh;
  font-family: "Playfair Display", serif;
  color: rgb(85, 79, 79);

  position: relative;
  z-index: 1;
}
