@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Rozha+One&family=Yeseva+One&display=swap");

.container {
  margin-top: 0;
  padding-top: 0;
  background-color: #f0dbd0;
}

.flexContainer {
  position: relative;
  background-color: #f0dbd0;

  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.heading {
  font-size: 1.7em;
  margin-top: 15vh;
  margin-left: 15vh;
  font-family: "Red Hat Display", sans-serif;
  color: rgb(85, 79, 79);

  position: relative;
  z-index: 1;
}
