@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Rozha+One&family=Yeseva+One&display=swap");

.container {
  position: relative;
  margin: 5vh;
  background-color: #fafafa;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  justify-content: flex-end;
  border-radius: 2px;
  max-width: 90%;
  width: 90vw;
  max-width: 500px;
  transition: all 0.2s ease-in-out;
  /* width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; */
}

.container:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.image {
  width: 70%;
  height: 100%;
  position: relative;
  border-radius: 2px;
}

.image:hover {
  cursor: pointer;
}
/* 
.image:hover {
  box-shadow: #8b8274 0px 7px 29px 10px;
  transition: all 0.4s;
} */

.description {
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  width: 35%;
  left: 1vh;
  padding: 1vh;
  font-size: 0.5em;
  overflow: scroll;
}

.title {
  position: relative;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1em;
}

.technologies {
  padding: 0;
  margin-top: -2vh;
}
.codeButton {
  height: auto;
  display: inline;
  font-size: 1em;
  background-color: none;
  border: none;
  transition: all 0.4s;
  background: none repeat scroll 0 0 transparent;
  position: absolute;
  /* bottom: 2vh;
  left: 12vh; */
}

.codeButton:hover {
  text-decoration: underline;
  transition: ease-in 2s;
}

.codeButton:visited {
  color: black;
}

@media screen and (min-width: 420px) {
  .codeButton {
    bottom: 2vh;
    left: 12vh;
  }
}

@media (min-width: 0px) and (max-width: 300px) {
  .container {
    overflow: scroll;
  }
  .image {
    min-width: 50%;
    height: auto;
  }
  .title {
    font-size: 0.9em;
  }
  .description {
    font-size: 0.5em;
  }
}
