/* body {
  margin: 0;
  height: 100%;
} */

.container {
  margin-top: 0;
  padding-top: 0;
  background-color: #f4f3ef;
}

.flexContainer {
  position: relative;
  background-color: #f4f3ef;
  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.heading {
  font-size: 3vh;

  color: rgb(85, 79, 79);
  position: relative;
  z-index: 1;
}
