/* body {
  margin: 0;
  height: 100%;
} */

/* .container { */
/* position: relative;

  background-color: rgb(255, 255, 255);
  color: black;
} */

.flexContainer {
  position: relative;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.heading {
  font-size: 3vh;
  margin: 6vh;
  color: #93a9ff;
  position: relative;
  z-index: 1;
}
