.socialIcon {
  font-size: 3ch;
  color: white;
  margin: 1vh;
}
.socialIcon:hover {
  color: #a96b6b;
}
.container {
  background-color: #515c4e;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 7vh;
  margin: 0;
  position: fixed;
  z-index: 3;
}
