@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Rozha+One&family=Yeseva+One&display=swap");

html {
  scroll-behavior: smooth;
}

.homeContainer {
  /* background-color: black;
  font-family: "Open Sans", sans-serif;
  color: white;
  width: 100vh; */
  position: relative;

  background-color: #f0eee6;

  width: 100%;
  height: 80vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 0;
  margin-bottom: 0;
}

.img {
  position: absolute;
  height: 20%;
  width: auto;
  margin: 0 auto;
  top: 8vh;
}

.intro {
  width: 60%;
  margin: 0 auto;
  padding-top: 8vh;
}

.intro:after {
  display: block;
  content: "";
  width: 20%;
  height: 30%;
  position: absolute;
  top: 20px;
  right: -30px;
  border-top: 1px solid rgb(38, 38, 38);
  border-right: 1px solid rgb(0, 0, 0);
}

.intro:before {
  display: block;
  content: "";
  width: 20%;
  height: 30%;
  position: absolute;
  bottom: -20px;
  left: -50px;
  border-bottom: 1px solid rgb(87, 87, 87);
  border-left: 1px solid rgb(96, 96, 96);
}

.name {
  font-family: "Yeseva One", cursive;
  font-size: 1.4em;
  margin-bottom: 0;
  /* color: black; */
  /* left: 30vh; */
  /* top: 33vh; */
  /* width: 80vh;
  display: block;
  z-index: 2; */
}

.hi {
  /* left: 30vh; */
  /* top: 28vh; */
  font-size: 1em;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 200;
  margin-bottom: 0;
}

.description {
  /* top: 35vh;
  left: 30vh; */
  /* padding-top: 4vh;
  min-width: 30vw;
  max-width: 10vw; */
  font-size: 1em;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 200;
  /* height: 25vh;
  border-radius: 10px; */
}

.buttons {
  position: absolute;
  top: 65vh;
  margin: 0 auto;
}

.buttons > a {
  display: inline;
  width: auto;
  padding: 15px;
  margin: 0 0.3em 0.3em 0;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 300;
  font-size: 0.7em;
  text-align: center;
  transition: all 0.2s;
  font-weight: 400;
  box-shadow: rgba(26, 26, 26, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 0 2vh 0 2vh;
}

.projectsButton {
  background-color: #ab6c46;
  color: white;
}

.projectsButton:hover {
  background-color: #ab6c46;
  color: white;
  cursor: pointer;
}

.projectsButton:visited {
  text-decoration: none;
}

.downloadButton {
  background-color: #d9d1c5;
  color: rgb(100, 92, 92);
}

.downloadButton:hover {
  cursor: pointer;
  background-color: #ededed;
}

.downloadButton:visited {
  color: rgb(100, 92, 92);
}

.wave {
  position: absolute;
  bottom: -16vh;
  width: 100%;
}
/* 
@media screen and (max-width: 1070px) {
  .img {
    height: 30vh;
  }

  .projectsButton,
  .downloadButton {
    width: 13vw;
    font-size: 0.8em;
    padding: 1.5vh;
  }
} */

@media screen and (min-width: 800px) {
  .img {
    position: absolute;
    height: 50%;
    width: auto;
    margin: 0 auto;
    top: 28vh;
    right: 10vh;
  }
  .intro {
    position: relative;
    width: 40%;
    padding-top: 8vh;
    left: -25vh;
  }

  .wave {
    position: absolute;
    bottom: -16vh;
    width: 100%;
  }

  .homeContainer {
    /* background-color: black;
  font-family: "Open Sans", sans-serif;
  color: white;
  width: 100vh; */
    position: relative;

    background-color: #f0eee6;

    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 0;
    margin-bottom: 0;
  }
  .buttons {
    position: absolute;
    top: 80vh;
    left: 10%;
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .intro:after {
    display: none;
  }
  .intro:before {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 300px) {
  .img {
    height: 5vh;
  }

  .buttons {
    font-size: 0.7em;
  }
}

@media (max-width: 290px) {
  .buttons {
    visibility: hidden;
  }
}

@media (max-width: 186px) {
  .img {
    visibility: hidden;
  }
}
