.container {
  position: relative;

  background-color: white;
  width: 100%;
  height: 100vh;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.heading {
  font-size: 1.7em;
  position: absolute;
  font-family: "Yeseva One", cursive;
  color: rgb(85, 79, 79);
  z-index: 2;
  top: 8vh;
  left: 15vh;
}

.formContainer {
  margin-top: 20vh;
  width: 20%;
  height: 50%;
  display: flex;
  margin-left: 20vh;
}

.label {
  font-size: 1.5em;
}

.input {
  margin-bottom: 5vh;
}

.textarea {
  resize: none;
}

button {
  display: inline-block;
  padding: 10px;
  width: 20vh;
  border: none;
  margin: 0 0.3em 0.3em 0;

  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #c89a8e;
  color: white;
  text-align: center;
  transition: all 0.2s;
  border-radius: 10px;
  position: absolute;
  left: 20vh;
  bottom: -5vh;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-bottom: 8vh;
}

button:hover {
  background-color: rgb(173, 128, 119);
  color: white;
  cursor: pointer;
}
